@import url("https://fonts.googleapis.com/css?family=VT323");
@font-face {
    font-family: "rs";
    src: url("fonts/RuneScape\ Regular.ttf") format("truetype");
}

body {
    background-color: black;
}

.title {
    text-shadow: 0em 0em 0.5em #ff8533 ;
    border: 1px solid #ff8533 ;
    font-family: "VT323";
    text-align: center;
    font-size: 200%;
    font-weight: bolder;
    color: #ff8533 ;
    box-shadow: 0 0 0.7em #ff8533;
}

.wrapper {
    font-size: 125%;
    padding-left: 5%;
    text-shadow: 0em 0em 0.5em #ff8533;
    font-family: "VT323";
    text-align: left;
    font-weight: bolder;
    color: #ff8533;
}

.links {
    width: 0%;
    padding-left: 1em;
    user-select: none;
    color: #ff5533 ;
    text-shadow: 0em 0em 0.5em #ff5533;
    transition: 0.2s;
}

.links:hover {
    color: #ffcc33 ;
}

.underline {
    width: 0%;
    padding-left: 1em;
    user-select: none;
    color: #ff8533;
    text-shadow: 0em 0em 0.5em #ff8533 ;
    animation: blink 1s steps(2, start) infinite;;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}