@font-face {
    font-family: "rs";
    src: url("fonts/RuneScape\ Regular.ttf") format("truetype");
}

h1 {
    font-family: "rs";
    color: black;
    background-color: orange;
    position: fixed;
    font-size: 30px;
    left: 40% ;
    margin: 0% auto;
}

.linkrefs {
    color:orange;
    font-family: "rs";
    font-size: 25px;
    text-align: left;
    position: relative;
    text-decoration: none;
    font-weight: bold;
}
ol {
    list-style-position: outside;
    width: 100%;
    text-align: center;
    list-style-type: none;
    position: fixed;
    margin-left: 25%;
    margin-top: 5%;
}
li {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.linkrefs:hover {
    color: black;
    background-color: orange;
}
.underscore {
    color: orange;
    font-weight: bolder;
    animation: underscore 1s steps(2, start) infinite;
}
@keyframes underscore {
    to {
        visibility: hidden;
    }
}
